In [1]:
import pandas as pd

In [7]:
datos = {'A' : [1,2,3,4,5], 'B' : [1,2,3,5,6], 'C' : [3,45,6,7,2]}
df = pd.DataFrame(data = datos)

In [8]:
df

   A  B   C
0  1  1   3
1  2  2  45
2  3  3   6
3  4  5   7
4  5  6   2

In [12]:
filas = df.iloc[2, :]
filas

A    3
B    3
C    6
Name: 2, dtype: int64

In [13]:
type(filas)

pandas.core.series.Series