In [1]:
import pandas as pd

In [13]:
datos = {'A': [1,2,3,4,5], 'B': [1,21,3,4,5], 'C': [1,2,3,4,5,]}

df = pd.DataFrame(data = datos)

df

   A   B  C
0  1   1  1
1  2  21  2
2  3   3  3
3  4   4  4
4  5   5  5

In [8]:
type(df)

pandas.core.frame.DataFrame

In [14]:
columna = df.iloc[:,1]
columna

0     1
1    21
2     3
3     4
4     5
Name: B, dtype: int64

In [15]:
type(columna)

pandas.core.series.Series