In [1]:
import pandas as pd

In [3]:
serie1 = pd.Series(list(range(1,11)))

In [4]:
serie1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
serie2 = pd.Series(list(range(10, 0, -1)))
serie2

0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int64

In [15]:
serie1.add(serie2)

0    11
1    11
2    11
3    11
4    11
5    11
6    11
7    11
8    11
9    11
dtype: int64

In [16]:
serie1.subtract(serie2)

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [17]:
serie1.multiply(serie2)

0    10
1    18
2    24
3    28
4    30
5    30
6    28
7    24
8    18
9    10
dtype: int64

In [18]:
serie1.divide(serie2)

0     0.100000
1     0.222222
2     0.375000
3     0.571429
4     0.833333
5     1.200000
6     1.750000
7     2.666667
8     4.500000
9    10.000000
dtype: float64